@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 7px 7px 3px black;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}
#card-pic {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
h5 {
  width: 15%;
  padding: 10px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 7px;
  font-weight: 800;
}

#publish {
  font-weight: 500;
}

h2 {
  
}
h2 a {
  text-decoration: none;
  color: hsl(218, 44%, 22%);
}

h2 a:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
#text {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
}
#avatar {
  width: 30px;
}
#name {
  margin-left: 40px;
  position: relative;
  bottom: 40px;
}
.attribution {
  margin-top: 15px;
}